{% extends "base.html.twig" %}

{% block title %}Create New Product{% endblock %}

{% block body %}
    <h2>Create a New Product</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Create Product</button>
    {{ form_end(form) }}
{% endblock %}