{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}

<div class="d-flex  text-center text-bg-dark">
  
<main class="px-3 py-4">
  <h1>About <br>Symfony Travel Agency 24/7</h1>

  
    <div class="row g-0 bg-dark border border-1 rounded-2 position-relative mt-5">
      <div class="col-md-6 mb-md-0 p-md-4">

        <h5 class="mt-0">Columns with stretched link</h5>
        <p>**Unparalleled Expertise:**
            Backed by years of industry expertise, our team consists of travel enthusiasts, wanderlusters, and professionals who have traversed the globe. This diverse background empowers us to curate journeys that are both well-informed and deeply personal. Whether you're a solo explorer, a couple seeking a romantic getaway, a family with a taste for adventure, or a group with specific interests, we have the knowledge to tailor the perfect itinerary for you.
            
            **24/7 Accessibility:**
            Life is unpredictable, and so are the moments that inspire you to travel. Our commitment to being available 24/7 ensures that we're here to assist you, no matter the time zone or situation. Whether you're struck by a sudden wanderlust at dawn or facing unexpected travel changes in the dead of night, Symfony Travel Agency is ready to provide timely support and solutions.</p>
        {# <a href="#" class="stretched-link btn btn-primary">Go somewhere</a> #}
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <img src="{{ asset('img/1.jpg') }}" class="w-100" alt="...">
      </div>
    </div>
    {# #}
      {# #}
      <div class="row g-0 bg-dark border border-1 rounded-2 position-relative mt-5 ">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img src="{{ asset('img/2.jpg') }}" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">Columns with stretched link</h5>
          <p>**Unparalleled Expertise:**
              Backed by years of industry expertise, our team consists of travel enthusiasts, wanderlusters, and professionals who have traversed the globe. This diverse background empowers us to curate journeys that are both well-informed and deeply personal. Whether you're a solo explorer, a couple seeking a romantic getaway, a family with a taste for adventure, or a group with specific interests, we have the knowledge to tailor the perfect itinerary for you.
              
              **24/7 Accessibility:**
              Life is unpredictable, and so are the moments that inspire you to travel. Our commitment to being available 24/7 ensures that we're here to assist you, no matter the time zone or situation. Whether you're struck by a sudden wanderlust at dawn or facing unexpected travel changes in the dead of night, Symfony Travel Agency is ready to provide timely support and solutions.</p>
          {# <a href="#" class="stretched-link btn btn-primary">Go somewhere</a> #}
        </div>
     
        </div>
      
      {# #}
        {# #}
    <div class="row g-0 bg-dark border border-1 rounded-2 position-relative mt-5">
        <div class="col-md-6 mb-md-0 p-md-4">
  
          <h5 class="mt-0">Columns with stretched link</h5>
          <p>
            **Seamless Excellence:**
            With Symfony Travel Agency 24/7, excellence is non-negotiable. From the moment you first connect with us to the time you return from your journey, we are dedicated to providing seamless service, impeccable attention to detail, and unmatched quality. Our commitment to excellence extends to every aspect of your trip, ensuring that you can relax and relish every moment.
            
            **Ethical and Sustainable Travel:**
            As global citizens, we recognize our responsibility to protect the planet and its communities. We are strong advocates for ethical and sustainable travel practices, striving to minimize our ecological footprint and promote responsible tourism. Our itineraries often include eco-conscious options, community engagement activities, and initiatives that give back to the places we visit.</p>
          {# <a href="#" class="stretched-link btn btn-primary">Go somewhere</a> #}
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <img src="{{ asset('img/3.jpg') }}" class="w-100" alt="...">
        </div>
      </div>
      
      {# #}
      
      {# STRETCHED LINKS END #}
  <p class="lead p-5">**About Us: Symfony Travel Agency 24/7**

    
    
    
    
   
    
    
   </p>
  
 
  <p class="lead">
    
  </p>
</main>
</div>


{% endblock %}