{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<div id="liveAlertPlaceholder" class="d-flex justify-content-center my-3">
    <button type="button" class="btn btn-danger " id="liveAlertBtn">Show live
        alert</button>
</div>
<div class="d-flex justify-content-center my-3">
    <button type="button" class="btn btn-primary">Just a Button</button>
</div>


{% endblock %}