{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}

<div class="d-flex  text-center text-bg-dark">
  
<main class="px-3 py-4">
  <h1>Daily News <br><h2>Symfony Travel Agency 24/7</h2></h1>

  
    <div class="row g-0 bg-dark border border-1 rounded-2 position-relative mt-5">
      <div class="container px-4 py-5" id="hanging-icons">
        <h3 class="pb-2 border-bottom">Daily News for Travel Routes and more.</h3>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <i class="bi bi-signal text-white"></i>
            </div>
            <div>
              <h3 class="fs-2 ">Use our SignalBot</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
              Lets go
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis  d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <i class="bi bi-geo-alt text-white"></i>
            </div>
            <div>
              <h3 class="fs-2">Daily updates about new Destinations</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Show more
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <i class="bi bi-envelope-at text-white"></i>
            </div>
            <div>
              <h3 class="fs-2">Weekly Newsletter</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Subscribe
              </a>
            </div>
          </div>
        </div>
      </div>
    {# #}</div>
     
      {# STRETCHED LINKS END #}
  <p class="lead p-5">**About Us: Symfony Travel Agency 24/7**

    
    
    
    
   
    
    
   </p>
  
 
 
</main>
</div>


{% endblock %}